
<body class="bg-dark">
  <div class="container text-white text-center" style="margin-top: 8rem">
    <h2 style="margin-bottom: 5rem">
      Sign up now to cast your opinion on everything
    </h2>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
  </div>
  <div class="col">

  </div>
</body>