version: '3.8'
services:
  db:
    image: keinos/sqlite3:latest
    volumes:
      - db_data:/poll-db
  web:
    build: .
    command: bash -c "bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/poll_site
      - db_data:/poll_db
    ports:
      - "3000:3000"
    depends_on:
      - db
volumes:
  db_data:

