<h1>Polls</h1>

<div id="polls">
  <% @polls.each do |poll| %>
    <div>
      <div>
        <h5><%= poll.title %></h5>
        <h6 class="mb-2 text-muted"><%= poll.user.email.capitalize.slice(0, poll.user.email.index('@')) %></h6>
        <%= link_to "Show this poll", poll %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New poll", new_poll_path %>
